fastapi
python-dotenv
fastapi-users[sqlalchemy]
uvicorn[standard]
sqlalchemy
mysql-connector-python
passlib==1.7.4
bcrypt==3.2.2
python-jose[cryptography]==3.3.0
asyncpg
pydantic_settings
alembic==1.7.2
redis
psycopg2-binary